/* Resetting default browser styles */

/* Setting up basic styles */
body {
  font-family: "brother-1816", sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 90px;
  font-weight: 800;
}

.subtitle {
  font-size: 28px;
}

p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

/* ---------------------------------------------------------------------- BOOTSTRAP OVERRIDES */
.btn-primary {
  background: #9a1e21;
  border: 0;
}

.text-success {
  color: #36d767 !important;
}

.btn-primary:hover {
  background: #cb0000;
}

.btn-outline-primary {
  color: #9a1e21 !important;
  font-weight: 600;
}

.btn-outline-primary:hover {
  color: white !important;
}

.bg-black {
  background: black;
}

.nav-link {
  font-size: 11px;
  position: relative;
  text-decoration: none;
}

.nav-link:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9a1e21;
  position: absolute;
  bottom: 0;
  left: 0;
}

.py-6 {
  padding: 6rem 0 6rem 0;
}

.btn-outline-primary {
  border-color: #9a1e21;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #9a1e21;
  border-color: #9a1e21;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: #91989f !important;
}

.btn-outline-dark:hover {
  background-color: #9a1e21;
  border-color: #9a1e21;
}

/* ----------------------------------------------------------------------- HELPERS */
.wrapper {
  max-width: 54vw !important;
  width: 100%;
}

.bg-bbt-red {
  background: #9a1e21;
}

.fs-small {
  font-size: 13px;
}

.text-bbt-red {
  color: #9a1e21;
}

.bg-lt-grey {
  background: #f7f7f7;
}

.border-bbt-red {
  border-color: #9a1e21 !important;
}

.rounded-20 {
  border-radius: 20px !important;
}

.btn-pill {
  border-radius: 50px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.ls-1 {
  letter-spacing: 0.05rem;
}

.gap-1 {
  grid-gap: 1rem !important;
}

.bg-lt-black {
  background-color: #222222;
}

.text-lt-black {
  color: #303030;
}

.container-inner {
  width: 100%;
  max-width: 75vw;
  margin: 0 auto;
}

.fs-icon-lrg {
  font-size: 51px !important;
}

.fit-cover {
  object-fit: cover;
}

.fit-content {
  width: fit-content;
}

.mt-min-30 {
  margin-top: -30px;
}

.rounded-4-top {
  border-radius: 1rem 1rem 0 0;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fit-content {
  width: fit-content !important;
}

.position-center {
  object-position: center !important;
}

.img-square {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

/* ----------------------------------------------------------------------- HOME HERO */
section.hero {
  background-image: url("/images/large_group_nyc_bearbulltraders_bw-overlay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* ------------------------------------------------------------------------- HERO FORM */
input#email {
  padding: 13px !important;
}
/* -------------------------------------------------------------------------- FOOTER */
.container-fluid.footer-top-img {
  background-image: url(/images/summit-vancouver_2.webp);
  background-size: cover;
  padding: 15rem 0;
  height: 100%;
  background-position: center;
}

/*---------------------------------------------------------------------------- CAROUSELS */
button.carousel-control-next,
button.carousel-control-prev {
  border: none;
  background: transparent;
}

.carousel-inner {
  border-radius: 20px;
}

.carousel-caption {
  left: 0;
  padding-top: 1rem;
  padding-bottom: 2.25rem;
  background: black;
  right: 0;
  bottom: 0;
}

.carousel-testimonial-controls {
  position: absolute;
  width: 250px;
  display: flex;
  right: 21%;
  bottom: 0;
  gap: 10px;
}

/* ----------------------------------------------------------------------------- MENTORS */
section.mentors {
  background-image: url("/images/group-background_-_.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* ------------------------------------------------------------------------------- PRICE CHART */
.bi-check-lg::before,
.bi-x::before {
  font-weight: 800 !important;
}

/* -------------------------------------------------------------------------------- BOOK ROW */
.book-row-item {
  height: 200px;
  width: fit-content;
}

/* ------------------------------------------------------ COMPARE CHART */
.bi-chevron-up::before {
  font-weight: 800 !important;
}

/* ------------------------------------------------------ COMPARE CHART */
.bbt-badges-table-align {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 21.5% 23.5% 21.5%;
  margin: 0 auto 32px !important;
}

tr.bbt-intro-tbody-tr.view:hover {
  opacity: 0.8;
}

table,
table.bbt-intro-course {
  width: 100%;
}

table.fold-table tbody tr.view td,
table.fold-table tbody tr.view th {
  cursor: pointer;
}

table.fold-table tbody tr.view td:first-child,
table.fold-table tbody tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}

table.fold-table tbody tr.view td:first-child:before,
table.fold-table tbody tr.view th:first-child:before {
  position: absolute;
  font-family: "bootstrap-icons";
  font-size: 16px;
  color: #999999;
  content: "\f286";
  transition: all 0.3s ease;
  left: 24px;
  font-weight: 800;
}

table.fold-table tbody tr.view.open td:first-child:before {
  transform: rotate(-180deg);
  color: #333;
  top: 17px;
}

table.fold-table tbody tr.fold {
  display: none;
}

table.fold-table tbody tr.fold.open {
  display: table-row;
}

table.bbt-intro-course {
  width: 100%;
  border-collapse: collapse !important;
  margin: 0 auto;
}

img.bbt-th-badge {
  margin: 11px 0 0 0 !important;
}

th.bbt-intro-course-th h3 {
  position: relative;
}

th.badge {
  position: absolute;
  top: 0;
}

h5.bbt-table-course-title {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  margin-left: 35px;
  color: black;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
th.bbt-intro-course-th h3 {
  color: black;
  font-size: 1rem;
  letter-spacing: 0;
}

td.bbt-td-no-background {
  border: none !important;
  padding-top: 40px !important;
  padding-bottom: 20px !important;
  background-color: transparent;
}

table.bbt-intro-course td {
  background: transparent;
  border-radius: 0;
  padding: 11px;
  border-bottom: 1px solid #ddd;
}

/* ---------------------------------------------------------------------------------------  MEDIA QUERIES */
@media (min-width: 2300px) {
  .container-inner {
    max-width: 60vw;
  }
}

@media (max-width: 1700px) {
  .container-inner {
    max-width: 100vw;
  }

  .wrapper {
    max-width: 75vw !important;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 100vw !important;
  }
}

@media (max-width: 768px) {
  .py-6 {
    padding: 2rem 0 2rem 0;
  }
}
